In [1]:
import networkx as nx
import pandas as pd
import numpy as np

Data Overview
- [Number] corresponds to file names '0','107','348','414','686','698','1684','1912','3437','3980'
1. facebook_combined.txt -> Gives all of the connected node pairs
2. [Number].featnames -> Gives the feature names and values of a certain set of nodes
3. [Number].feat ->  Gives the row of '1's or '0's for each node indicating whether the node has a feature or not in the corresponding [Number].featnames file rows

In [31]:
# Creates a array of file names
files = ['0','107','348','414','686','698','1684','1912','3437','3980']

In [78]:
# 1. Prints the connected node pairs
# Below shows that thre are 4,039 nodes in the data and 88,234 edges
fb = pd.read_csv('Datasets/facebook/facebook_combined.txt', delimiter = ' ', names = ['Node 1', 'Node 2'])
%store fb
fb

Stored 'fb' (DataFrame)

       Node 1  Node 2
0           0       1
1           0       2
2           0       3
3           0       4
4           0       5
...       ...     ...
88229    4026    4030
88230    4027    4031
88231    4027    4032
88232    4027    4038
88233    4031    4038

[88234 rows x 2 columns]

In [35]:
# 2. Prints [Number].featnames -> the feature names of file 0
# Feature Names Structure: <feature #> <featuretype> ; <'anonymized feature'> <feature value #>
feat_names_0 = pd.read_csv('Datasets/facebook/0.featnames', names = ['Feature Names'])
feat_names_0

                                  Feature Names
0               0 birthday;anonymized feature 0
1               1 birthday;anonymized feature 1
2               2 birthday;anonymized feature 2
3               3 birthday;anonymized feature 3
4               4 birthday;anonymized feature 4
..                                          ...
219  219 work;start_date;anonymized feature 170
220  220 work;start_date;anonymized feature 171
221  221 work;start_date;anonymized feature 203
222  222 work;start_date;anonymized feature 204
223     223 work;with;id;anonymized feature 205

[224 rows x 1 columns]

In [37]:
# 3. Prints [Number].feat -> displays rows for each nodee of '1's or '0's indicating whether the node has a feature or not in the corresponding [Number].featnames file rows
node_feat_0 = pd.read_csv('Datasets/facebook/0.feat', names = ['Node Features'])
node_feat_0

                                         Node Features
0    1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...
1    2 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...
2    3 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 ...
3    4 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...
4    5 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...
..                                                 ...
342  343 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...
343  344 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...
344  345 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...
345  346 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 ...
346  347 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 ...

[347 rows x 1 columns]

In [76]:
# Prints the set of unique features
unique_feat_types = []

for i in range(len(feat_names_0)):
    unique_feat_types.append(feat_names_0['Feature Names'][i].split(' ')[1].rsplit(';',1)[0])
unique_feat_types = set(unique_feat_types)

print('{0} Unique Features:\n{1}'.format(len(unique_feat_types), unique_feat_types))

21 Unique Features:
{'education;school;id', 'last_name', 'work;position;id', 'locale', 'languages;id', 'work;employer;id', 'work;end_date', 'education;year;id', 'education;with;id', 'education;concentration;id', 'location;id', 'education;classes;id', 'gender', 'work;location;id', 'birthday', 'hometown;id', 'education;type', 'education;degree;id', 'first_name', 'work;with;id', 'work;start_date'}

In [ ]:
#? Creates dictionary of nodes with only certain features to reduce the # of nodes
# Extract Feature Names(path) method | Create Dictionary Of Nodes

In [ ]:
#? Filters 'fb' node pairs by removing the ones that are not in the dictionary to reduce the # of edges
# Dropping Unwanted Nodes from 'fb' Dataframe | Create List Of Edges

In [ ]:
#? Creates graph with labeled node attributes
# Creating the graph